.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 135px;

  &__title {
    margin-bottom: 57px;
  }

  &__description {
    margin: 0;
    line-height: 29px;
  }

  &__description:not(:last-child) {
    margin-bottom: 49px;
  }

  &__left {
    width: 770px;
  }

  &__right {
    width: 350px;
  }

  &__img {
    margin-bottom: 35px;
  }

  &__reason {
    width: 350px;
    height: 240px;
    padding: 45px 35px 0;
    background-color: #f7f7f7;
    background-position: 299px 39px;
    background-repeat: no-repeat;
    background-size: 33px auto;

    // TODO почему один блок другого цвета? Ховер? Но зачем весь блок?..
    &_dark {
      background-color: #f3f3f3;
    }

    &_dependable {
      background-image: url('../img/icon-shield.svg');
    }

    &_open {
      background-image: url('../img/icon-globe.svg');
    }

    &_connected {
      background-image: url('../img/icon-connect.svg');
    }
  }
}

.reason {
  &__title {
      margin-bottom: 16px;
  }

  &__description {
    line-height: 25px;
    margin-bottom: 11px;
  }
}
