.benefits {
  // --container-roadside: calc((100vw - 20vw) / 2);
  // --container-roadside: 20px;
  --container-roadside: calc((100vw - var(--container-width)) / 2);
  --content-width: 475px;
  --content-margin: 74px;

  display: flex;
  position: relative;
  min-height: 504px;
  overflow: hidden;

  &__buttons-box {
    position: absolute;
    width: calc( 100vw - var(--container-roadside) - var(--content-width) - var(--content-margin) - var(--container-padding) );
    height: 100%;
    background-image: url(../img/benefits-bg.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
  }

  &__content {
    flex: 0 0 100%;
  }

  &-container {
    display: flex;
    justify-content: end;
  }

  &__content-box {
    width: var(--content-width);
    padding-top: 77px;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__description {
    padding: 37px 12px 48px 5px;
  }

  &__list {
    margin: 0;
  }

  &__item {
    list-style-type: disc;
  }
}
