.footer {
  background-color: #4a4a4a;
  color: #fff;

  &__address {
    background-color: #5f5f5f;
  }

  &__call {
    background-color: #6c6c6c;
  }

  &__write {
    background-color: #7b7b7b;
  }
}

.footer-contacts {
  display: flex;
  transform: translateY(-50%);
  &__item {
    flex: 1 0 10%;
    padding: 40px 66px;
    height: 196px;
  }

  &__title {
    color: #fff;
    margin-bottom: 11px;
  }
}
