.header {
  &__top {
    background: var(--color-main);

    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 40px;
    }
  }

  &__social-link {
    display: inline-block;
    height: 16px;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &:focus {
      outline: 1px solid #fff;
    }

    &:hover .header__svg{
      transform: scale(115%);
    }
  }

  &__svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    transition: transform 0.1s ease-in-out;
  }

  &__email {
    font-size: 12px;
    line-height: 14px;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    &:focus {
      outline: 1px solid #fff;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 119px;
    position: relative;
  }

  &__link,
  &-contacts {
    z-index: 3;
  }

  &__link{
    &:focus {
      outline: 2px solid var(--color-main);
    }
  }

  &__logo {
    width: 75px;
    height: 75px;
  }
}

.header-nav {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;

  &__list {
    display: inline-flex;
    margin-left: -11px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &_active {
      font-weight: 700;
    }

    &:focus {
      outline: 2px solid var(--color-main);
    }

    &:hover {
      font-weight: 700;
    }
  }
}

.header-contacts {

  &__link {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-bottom: 4px;

    &:focus {
      outline: 2px solid var(--color-main);
    }

    &_phone {

      background: url(../img/phone-1.svg);
      background-size: 23px 33px;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }

  &__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey);
    text-transform: capitalize;
  }

  &__value {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
  }
}
