.header {
  &__top {
    display: flex;
    align-items: center;
    background: var(--color-main);
    height: 40px;

    &_content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }

  &_svg {
    fill: #fff;
    width: 16px;
    height: 16px;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &_email {
    font-size: 12px;
    line-height: 14px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 119px;

  }

  &__logo {
    width: 75px;
    height: 75px;
  }
}

.header-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &__list {
    display: flex;
  }

  &__item {
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &_active {
      font-weight: 700;
    }
  }
}

.header-phone {
  &__link {
    display: flex;
    flex-direction: column;
  }
}
