.hero {
  height: 647px;
  background-color: silver;
  background-image: url(../img/hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 151px;

  &__content {
    padding-left: 582px;
  }

  &__text {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #1A1919;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }

  &__title {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 84px;
    line-height: 96px;
    color: #1A1919;
  }

  &__descr {
    margin: 0;
    padding: 0;
    padding-left: 4px;
    margin-bottom: 62px;
    font-weight: 400;
    font-size: 32px;
    line-height: 131%;
    color: #000000;
  }

  &__btn {
    width: 284px;
    height: 74px;
    font-size: 24px;
    line-height: 74px;
    transform: translateX(5px);
  }
}
