.services-security {
  padding-top: 130px;
  padding-bottom: 161px;
}

.services {
  &__details {
    padding-top: 21px;
    padding-right: 34px;
    margin-bottom: 12px;
  }

  &__summary {
    display: block;
    position: relative;
    border-bottom: 1px solid #979797;
    padding-bottom: 24px;

    &:focus-visible {
      outline: 2px solid var(--color-main);
    }

    &:hover {
      cursor: pointer;
    }
  }
  &__summary::-webkit-details-marker {
    display: none;
  }

  &__details > summary::after {
      content: "";
      position: absolute;
      top: 6px;
      right: 0;
      height: 18px;
      width: 18px;
      background-image: url("../img/details-plus.svg");
      background-position: center;
      background-size: center;
      background-repeat: no-repeat;
  }

  &__details[open] > summary::after {
    background-image: url("../img/details-minus.svg");
  }

  &__content {
    display: flex;
    padding-top: 32px;
    padding-bottom: 10px;
  }

  &__img {
    max-width: 318px;
    object-fit: contain;
  }

  &__text {
    padding: 12px 19px;

  }
  &__description {
    margin-bottom: 15px;
  }

  &__btn {
    width: initial;
    height: initial;
    text-align: left;
    line-height: 100%;

    &:focus {
      outline: 2px solid var(--color-main);
    }
  }
}

.security {
  &__img {
    max-height: 323px;
    object-fit: cover;
    margin-bottom: 54px;
  }

  &__description {
    margin-bottom: 45px;
  }
}

.services__title, .security__title {
  margin-bottom: 10px;
}

.services__subtitle, .security__subtitle {
  margin-bottom: 46px;
}
