.services-security {
  padding-top: 130px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--column-margin) - (var(--container-padding)/2));

    // DEBUG
    // height: 300px;
    // background-color: skyblue;
  }
}

.services {
  flex-grow: 1;

  &__details {
    padding-top: 21px;
    padding-right: 34px;
    margin-bottom: 12px;
  }

  &__summary {
    display: block;
    border-bottom: 1px solid #979797;
    padding-bottom: 24px;
  }
  &__summary::-webkit-details-marker {
    display: none;
  }

  &__content {
    display: flex;
    padding-top: 32px;
    padding-bottom: 10px;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__text {
    padding: 12px 19px;
  }

  &__btn {
    width: initial;
    height: initial;
    text-align: left;
    line-height: 100%;
  }

  // DEBUG
  // background-color: darksalmon;
}

.security {
  flex: 0 0 var(--right-column-width);

  &__img {
    max-height: 323px;
    object-fit: cover;
    margin-bottom: 54px;
  }

  &__description {
    margin-bottom: 45px;
  }
}

.services__title, .security__title {
  margin-bottom: 10px;
}

.services__subtitle, .security__subtitle {
  margin-bottom: 46px;
}
