.testimonials {
  position: relative;
  padding: 148px 0 139px;
  background-color: var(--color-main);

  &__title {
    color: #fff;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: #fff;
    text-transform: none;
    margin-bottom: 92px;
  }

  &__value {
    font-weight: 700;
    font-size: 64px;
    line-height: 73px;
    color: #fff;
    margin: 0;
  }

  &__button-box {
    padding-top: 58px;
  }

  &__btn {
    background-color: transparent;
    color: #fff;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 734px;
    padding: 75px 60px;
    background-color: #fff;

  }
}

.value {
  &__description {
    font-size: 28px;
    line-height: 32px;
    text-transform: none;
    color: #fff;
  }
}

.testimonials-content {
  &__title {
    font-size: 20px;
    line-height: 23px;
    text-transform: none;
    margin-bottom: 17px;
  }

  &__description {
    margin-bottom: 54px;
  }

  &__author {
    font-size: 16px;
    line-height: 18px;
  }
}
