// CSS-переменные (кастомные свойства)

body {
  --color-main: #0e77af;
  --color-red: #b4141b;
  --color-grey: #7d7d7d;
  --container-width: 1200px;
  --container-padding: 15px;
  --right-column-width: 475px;
  --column-margin: 74px;
  --container-roadside: calc((100vw - var(--container-width)) / 2);
}
